<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>ideaology</title>
    <link rel="stylesheet" href="/css/contact.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    {{> nav current ='3' menu=menu}}
    <div class="wrap">
        <div class="content">
            {{#with contact}}
                <ul class="menu">
                    <li class="menu1"><a class="active" href="javascript:void(0)">{{tabs.[0]}}</a></li>
                    <li class="menu2"><a href="javascript:void(0)">{{tabs.[1]}}</a></li>
                </ul>
                {{#with form1}}
                <div class="form" id="form1">
                    <p>{{{title}}}</p>
                    <form id="contact">
                        <div class="form-row">
                            <input type="text" placeholder="{{form.0.text}}" class="j-name"></input>
                        </div>
                        <div class="form-row">
                            <input type="tel" placeholder="{{form.1.text}}"  class="j-email"></input>
                        </div>
                        <div class="form-row">
                            <textarea  placeholder="{{form.2.text}}" class="j-describe"></textarea>
                        </div>
                        <div class="form-row">
                            <textarea  placeholder="{{form.3.text}}" class="j-self_desc"></textarea>
                        </div>
                        <div class="form-row">
                            <textarea  placeholder="{{form.4.text}}" class="j-feedback1"></textarea>
                        </div>
                        <div class="form-row">
                            <textarea  placeholder="{{form.5.text}}" class="j-feedback2"></textarea>
                        </div>
                        <div class="form-row inline-form-row">
                            <input type="text" placeholder="{{form.6.text}}" class="j-project_end_time datepicker-here" data-language='zh'></input>
                            <input type="number" placeholder="{{form.6.extra}}"  class="j-project_budget"></input>
                        </div>
                         <div class="form-row">
                            <textarea  placeholder="{{form.7.text}}" class="j-other"></textarea>
                        </div>
                        <a class="submit-btn btn j-sendbtn1" href="javascript:void(0)">{{btn}}</a>
                    </form>
                </div>
                {{/with}}
                {{#with form2}}
                <div class="form" id="form2">
                    <p>{{{title}}}</p>
                    <form id="contact">
                        <div class="form-row">
                            <input type="text" placeholder="{{form.0.text}}" class="j-name"></input>
                        </div>
                        <div class="form-row">
                            <input type="tel" placeholder="{{form.1.text}}"  class="j-email"></input>
                        </div>
                        <div class="form-row">
                            <textarea  placeholder="{{form.2.text}}" class="j-describe"></textarea>
                        </div>
                        <div class="form-row">
                            <textarea  placeholder="{{form.3.text}}" class="j-other"></textarea>
                        </div>
                        <a class="submit-btn btn  j-sendbtn2" href="javascript:void(0)">发送</a>
                    </form>
                </div>
                {{/with}}
            {{/with}}
        </div>
    </div>
    {{> footer}}
</body>
<script src="/vendor/jquery.min.js"></script>
<link rel="stylesheet" href="/vendor/datepicker.min.css">
<script src="/vendor/datepicker.min.js"></script>
<script src="/vendor/datepicker.zh.js"></script>
<script src="/js/contact.js"></script>
</html>
