<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>ideaology</title>
    <link rel="stylesheet" href="/css/join.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    {{> nav current='2' menu=menu}}
    <div class="wrap">
        <div class="content">
            {{#with join}}
            <div class="content-form">
                <h1>{{title}}</h1>
                <p>{{subtitle}}</p>
                <a href="mailto:infor@ideaology.cn" class="email-btn btn">{{btns.[0]}}</a>
                <p class="p3">or</p>
                <form id="joinus">
                    <div class="form-row inline-form-row">
                        <input type="text" placeholder="{{form.0.text}}" class="j-name"></input>
                        <input type="tel" placeholder="{{form.1.text}}"  class="j-phone"></input>
                    </div>
                    <div class="form-row">
                        <textarea  placeholder="{{form.2.text}}" class="j-remark"></textarea>
                    </div>
                    <a href="javascript:void(0);" class="submit-btn btn j-joinbtn">{{btns.[1]}}</a>
                </form>
            </div>
            {{/with}}
        </div>
    </div>
    {{> footer}}
</body>
<script src="/vendor/jquery.min.js"></script>
<script src="/js/join.js"></script>
</html>
